@import url("/styles/fonts.css");
@import url("/styles/colors.css");
@import url("/styles/animations.css");

/* *********** Classes ********** */

.ancestral-container {
	max-width: 1100px;
	min-width: 85%;
	margin: 5vw auto;
}

.content-block {
	margin: 7vh 0;
	padding: 30px;
	border-radius: 15px;
	box-shadow: -2px 3px 8px 0px black;
}

.about-me-heading {
	font-size: max(2.5rem);
	font-weight: 700;
}

.about-me-description {
	font-size: max(1.4rem);
	padding: 20px 0;
}

.skills-section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.skill-showcaser {
	margin: 30px 40px;
	width: 40%;
	background-color: brown;
}

.skill-showcaser > img {
	max-height: 250px;
}

.skills-display {
	margin: 30px 40px;
	width: 100%;
	background-color: tan;
}