@import url("/styles/fonts.css");
@import url("/styles/colors.css");
@import url("/styles/animations.css");

/* *********** Classes ********** */

.ancestral-container
{
	max-width: 1100px;
	min-width: 85%;
	margin: 5vw auto;
}

.content-block
{
	margin: 4vh 0;
	padding: 20px 15px;
	border-radius: 15px;
	box-shadow: -2px 3px 8px 0px black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-me-heading
{
	text-align: center;
	font-size: max(2rem);
	font-weight: 700;
}

.about-me-description
{
	font-size: max(1.4rem);
	padding: 0 0 20px 0;
}

.about-me-text
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.download-button
{
	background-color: var(--orange-wheel);
	color: var(--prussian-blue);
	padding: 10px 14px;
	font-size: 1.2rem;
	border: none;
	border-radius: 15px;
}

.download-button:click
{
	color: var(--vanilla);
	background-color: var(--prussian-blue);
	border: 1px solid var(--vanilla);
}

.skills-section
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}

.skill-showcaser
{
	display: none;
	/* margin: 30px 40px;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center; */
}

.skill-showcaser > img
{
	max-height: 400px;
}

.skills-display
{
	margin: 10px 60px;
	width: 100%;
}

.skill-item-container
{
	margin-bottom: 25px;
}

.progress-bar-container
{
	width: 100%;
	margin-top: 10px;
	background-color: var(--vanilla);
	border-radius: 20px;
}

.skills
{
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
	border-radius: 20px 30px 30px 20px;
}

.rating
{
	margin-right: 10px;
}

.swift
{
	width: 60%;
	background-color: #E64B22;
}

.web-dev
{
	width: 40%;
	background-color: #f06529;
}

.javascript
{
	width: 20%;
	background-color: #f0db4f;
}

.soft-skills
{
	width: 80%;
	background-color: #3DDC84;
}

.tech-skills
{
	width: 90%;
	background-color: #C3002F;
}

.dual-about-me-section
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
}

.half-content-block
{
	border-radius: 15px;
	box-shadow: -2px 3px 8px 0px black;
}

.list-item
{
	margin-bottom: 15px;
}

.experience-title
{
	font-size: 1.3rem;
	font-weight: 700;
	color: var(--xanthous);
}

.list-section
{
	margin: 10px 0;
}

@media screen and (min-width: 768px)
{
	.content-block
	{
		margin: 7vh 0;
		padding: 30px;
		border-radius: 15px;
		box-shadow: -2px 3px 8px 0px black;
	}

	.about-me-heading
	{
		font-size: max(2.5rem);
		font-weight: 700;
	}

	.about-me-description
	{
		font-size: max(1.4rem);
		padding: 20px 0;
	}

	.download-button
	{
		background-color: var(--orange-wheel);
		color: var(--prussian-blue);
		padding: 10px 14px;
		font-size: 1.2rem;
		border: none;
		border-radius: 15px;
	}

	.download-button:hover
	{
		color: var(--vanilla);
		background-color: var(--prussian-blue);
		border: 1px solid var(--vanilla);
	}

	.skills-section
	{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.skill-showcaser
	{
		margin: 30px 40px;
		width: 40%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.skill-showcaser > img
	{
		max-height: 400px;
	}

	.skills-display
	{
		margin: 30px 40px;
		width: 100%;
	}

	.skill-item-container
	{
		margin-bottom: 25px;
	}

	.progress-bar-container
	{
		width: 100%;
		margin-top: 10px;
		background-color: var(--vanilla);
		border-radius: 20px;
	}

	.skills
	{
		text-align: right;
		padding-top: 5px;
		padding-bottom: 5px;
		color: black;
		border-radius: 20px 30px 30px 20px;
	}

	.rating
	{
		margin-right: 10px;
	}

	.swift
	{
		width: 60%;
		background-color: #E64B22;
	}

	.web-dev
	{
		width: 40%;
		background-color: #f06529;
	}

	.javascript
	{
		width: 20%;
		background-color: #f0db4f;
	}

	.soft-skills
	{
		width: 80%;
		background-color: #3DDC84;
	}

	.tech-skills
	{
		width: 90%;
		background-color: #C3002F;
	}

	.dual-about-me-section
	{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 10px 30px;
	}

	.half-content-block
	{
		border-radius: 15px;
		box-shadow: -2px 3px 8px 0px black;
	}

	.list-item
	{
		margin-bottom: 15px;
	}

	.experience-title
	{
		font-size: 1.3rem;
		font-weight: 700;
		color: var(--xanthous);
	}
}