@import url("/styles/fonts.css");

main
{
    margin: 20px;
}

h1
{
    font-size: 32pt;
}

h6
{
    font-size: 16pt;
}

.profile-image-article
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image
{
    max-width: 100%;
    max-height: 50vh;
    border-radius: 50%;
    border: 10px solid var(--xanthous);

    box-shadow: -14px 24px 36px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -14px 24px 36px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -14px 24px 36px -5px rgba(0, 0, 0, 0.75);
}

.introduction-text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hello-message
{
    margin: 10px 0;
}

.my-name-heading
{
    line-height: 100px;
}

.portfolio-text
{
    font-size: 24pt;
}

.down-arrow
{
    width: 10vh;
    margin: 15px;
}

.quick-fire-intro
{
    font-size: 1.15rem;
    margin: 15px 5px;
    text-align: center;
    padding: 5px;
}

.to-projects-section
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.highlights-text
{
    margin-right: 15px;
}

.to-projects-btn
{
    font-size: 1.1rem;
    padding: 8px 14px;
    color: var(--prussian-blue);
    background-color: var(--vanilla);
    border: none;
    border-radius: 10px;
}

.to-projects-btn:hover
{
    background-color: transparent;
    color: var(--vanilla);
    border: 1px solid var(--vanilla);
    font-weight: 700;
}

/* ******************* Media Queries ************************* */

@media screen and (min-width: 551px)
{
    main
    {
        margin: 40px;
    }

    h1
    {
        font-size: 48pt;
    }

    h6
    {
        font-size: 20pt;
    }

    .hero-section
    {
        display: grid;
        grid-template-columns: 45% 55%;
        width: 100%;
        height: 100%;
    }

    .introduction-text
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
        justify-content: space-evenly;
    }

    .hello-message
    {
        margin: 20px 0;
    }

    .my-name-heading
    {
        line-height: 100px;
    }

    .portfolio-text
    {
        font-size: 32pt;
    }

    .down-arrow
    {
        width: 10vh;
    }

    .quick-fire-intro
    {
        font-size: 1.6rem;
        margin: 80px;
        text-align: center;
    }

    .to-projects-section
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .highlights-text
    {
        margin-right: 15px;
    }

    .to-projects-btn
    {
        font-size: 1.1rem;
        padding: 8px 14px;
        color: var(--prussian-blue);
        background-color: var(--vanilla);
        border: none;
        border-radius: 10px;
    }

    .to-projects-btn:hover
    {
        background-color: transparent;
        color: var(--vanilla);
        border: 1px solid var(--vanilla);
        font-weight: 700;
    }
}