@import url("/styles/fonts.css");
@import url("/styles/colors.css");
@import url("/styles/animations.css");

/* *********************** Classes ******************** */

  .projects-gallery {
    color: white;
    max-width: 85%;
    margin: 50px auto;

    display: grid;
    column-gap: 20pt;
    align-items: baseline;
    /* grid-template-columns: repeat(auto-fit, minmax(500px, 2fr)); */
    
  }

  .project-window {
    background-color: var(--fire-engine-red-75);
    color: var(--vanilla);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: -6px 7px 25px 0px black;;
  }
  
  .project-name {
    font-size: max(min(1.9rem, 1.9vw), 2.4rem);
  }
  
  .tech-stack {
    font-size: 1.5rem;
  }
  
  .project-description {
    font-size: 1.3rem;
  }
  
  .view-project-button {
    padding: 10px 12px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--vanilla);
    margin: 10px;
    font-size: 1.2rem;
  }
  
  .view-project-button:hover, .view-project-button > a:hover {
    background-color: var(--vanilla);
    color: var(--prussian-blue);
  }

  .row-divider {
    display: inline-block;
    grid-area: span 1 / span 3;
    min-height: 90px;
  }

  .large-project-window {
    display: flex;
    grid-area: span 2 / span 3;
  }

  .dual-large-project-window {
    grid-area: span 2/ span 3;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .large-project-information {
    width: 50%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dual-large-project-gallery {
    width: 50%;
    height: 100%;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 300px)); */
    align-items: center;
    justify-items: center;
  }

  /* _Surveys images */
  .image-item > img {
    height: 200px;
    object-fit: fill;transform: scale(1);
  }
    
  .image-item:hover img
  {
    position: relative;
    transform: scale(2.5);
    z-index: 1;
    border: 4px solid var(--prussian-blue);
    border-radius: 15px;
  }

  .surveys-image-1 {
    grid-area: 1 / 1 / 1 /1;
  }

  .surveys-image-2 {
    grid-area: 1 / 2 / 1 / 2;
  }

  .surveys-image-3 {
    grid-area: 2 / 1 / 2 / 1;
  }

  .surveys-image-4 {
    grid-area: 2 / 2 / 2 / 2;
  }